exports/n8n-quote-builder-mvp.json
{
  "name": "WEOTT Nexus MVP — Quote + Sheets (Demo/Live)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "QuoteBuilder",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "3028084b-215a-43f3-9046-ab2facac13ac",
      "name": "GenerateProposal1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "33f82467-6af2-4f4c-904f-c43e748a0541"
    },
    {
      "parameters": {
        "jsCode": "/**\n * QuoteBuilder -> stargtm /generate\n * Does NOT recalculate finance - UI Quote Sheet is the source of truth.\n * Finance values are passed through, never invented.\n */\nconst raw = $json.body || $json;\nconst lead = raw.nexusLead || raw.lead || {};\nconst fin = raw.financials || {};\nconst form = raw.form || raw;\n\nconst upgradeIdMap = {\n  'Live DJ': 'live_dj', Saxophonist: 'saxophonist', Karaoke: 'karaoke',\n  'Photo Booth': 'photo_booth', 'Close-up Magician': 'close_up_magician',\n  'Close up Magician': 'close_up_magician', 'Branded Vessel Flag': 'branded_vessel_flag',\n  'Acoustic Artist': 'acoustic_artist', 'Jazz and Sax Duo': 'jazz_sax_duo',\n  'Additional Hour on Board': 'extra_hour', 'Casino Table with Croupier': 'casino_table',\n  'Social Media Highlight Reel': 'social_highlight_reel', 'Mingling Tour Guide': 'mingling_guide',\n  'Bespoke Logo Bunting': 'logo_bunting', 'Unlimited Drinks (4 hrs)': 'unlimited_drinks',\n  'Unlimited Drinks': 'unlimited_drinks', 'Drink Tokens': 'drink_tokens',\n  'Street Food Upgrade': 'street_food_upgrade',\n};\n\nfunction addIfPresent(obj, key, value) {\n  if (value !== undefined && value !== null && String(value).trim() !== '') obj[key] = String(value);\n}\nfunction money(n) {\n  const v = Number(n);\n  if (!Number.isFinite(v)) return 0;\n  return Math.round((v + Number.EPSILON) * 100) / 100;\n}\nfunction mapUpgrades(selected) {\n  return (Array.isArray(selected) ? selected : [])\n    .map((u) => {\n      if (typeof u !== 'string') return null;\n      if (upgradeIdMap[u]) return upgradeIdMap[u];\n      if (u.includes('_')) return u;\n      return null;\n    })\n    .filter(Boolean);\n}\n\nconst prebuilt = raw.calculations || {};\nconst packageCost = money(prebuilt.package_cost ?? fin.costToClient ?? fin.package_cost ?? 0);\nconst vat = money(prebuilt.vat ?? fin.vat ?? 0);\nconst grandTotal = money(prebuilt.grand_total ?? fin.grandTotal ?? fin.grand ?? (packageCost + vat));\nconst guests = Number(prebuilt.guests ?? form.guestCount ?? raw.guestCount) || 0;\nconst eventType = form.eventType || raw.eventType || raw.event_type || lead.eventType || lead.event_type || '';\nconst selected = raw.selectedUpgradeLabels || form.selectedUpgrades || raw.selectedUpgrades || [];\nconst selectedInserts = Array.isArray(raw.selectedInserts) ? raw.selectedInserts\n  : (Array.isArray(form.selectedInserts) ? form.selectedInserts : []);\nconst templateId = raw.template_id || form.templateId || raw.templateId || '';\n\nconst leadOut = {\n  proposal_ref: lead.referenceNumber || lead.proposal_ref || (raw.lead && raw.lead.proposal_ref) || ('WE.' + Math.floor(1000 + Math.random() * 9000)),\n  quote_date: new Date().toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' }) + ' | Quotation valid for 28 days',\n};\naddIfPresent(leadOut, 'client_name', lead.name || lead.client_name);\naddIfPresent(leadOut, 'organisation', lead.companyName || lead.company || lead.organisation);\naddIfPresent(leadOut, 'telephone', lead.phone || lead.telephone);\naddIfPresent(leadOut, 'email', lead.email);\naddIfPresent(leadOut, 'event_type', eventType);\n\n// Flexible date -> \"Date TBC\"\nconst flexibleFlag = lead.eventDateFlexibleBool === true || /(tbc|flexible|yes)/i.test(String(lead.eventDateFlexible || ''));\nconst eventDateVal = form.eventDate || raw.eventDate || lead.eventDateDisplay || lead.fullEventDate;\nif (flexibleFlag) { leadOut.event_date = 'Date TBC'; } else { addIfPresent(leadOut, 'event_date', eventDateVal); }\n\nconst embark = form.embarkation || raw.embarkation;\nconst disembark = form.disembarkation || raw.disembarkation;\nif (embark || disembark) { leadOut.event_timings = (embark || '') + ' - ' + (disembark || ''); }\nif (!leadOut.event_timings) addIfPresent(leadOut, 'event_timings', lead.requestedEventTimes);\n\naddIfPresent(leadOut, 'guest_range', form.guestCount || raw.guestCount || lead.groupSize);\naddIfPresent(leadOut, 'guest_quote_n', String(guests || lead.groupSizeQuote || form.guestCount || raw.guestCount || ''));\n\n// New business fields passed through cleanly\naddIfPresent(leadOut, 'budget', lead.budget || raw.budget || form.budget);\naddIfPresent(leadOut, 'vessels', lead.vessels || raw.vessels || form.vessels);\naddIfPresent(leadOut, 'market', lead.market || raw.market);\naddIfPresent(leadOut, 'source', lead.source || raw.source);\naddIfPresent(leadOut, 'year_of_event', lead.yearOfEvent || raw.yearOfEvent);\nconst repeatVal = lead.repeatClient ?? raw.repeatClient ?? form.repeatClient;\naddIfPresent(leadOut, 'repeat_client', typeof repeatVal === 'boolean' ? (repeatVal ? 'YES' : 'NO') : repeatVal);\naddIfPresent(leadOut, 'agent', lead.agent || raw.agent || form.agent); // UI-supplied only; no Enquiry column\n\n// Staff / contact defaults (staff insert overrides Katherine)\nleadOut.contact_name = lead.contact_name || 'Katherine Bulaon';\nleadOut.contact_title = lead.contact_title || 'Client Relationship Manager';\nleadOut.contact_phone = lead.contact_phone || '020 8323 5827';\nleadOut.contact_email = lead.contact_email || 'sales@westendonthethames.com';\n// prepared_by = the lead's REP (Client Relationship Representative), fallback to contact\naddIfPresent(leadOut, 'prepared_by', lead.preparedBy || lead.assignedRep || lead.prepared_by || leadOut.contact_name);\n\nconst lower = String(eventType).toLowerCase();\nconst category = raw.category || form.proposalCategory ||\n  (lower.includes('wedding') || lower.includes('engagement') ? 'wedding' : (eventType ? 'corporate' : undefined));\n\nconst mapped = mapUpgrades(selected);\nconst out = {\n  event_type: eventType,\n  ...(category ? { category } : {}),\n  ...(templateId ? { template_id: templateId, manual_template: true } : {}),\n  lead: leadOut,\n  calculations: { guests, package_cost: packageCost, vat, grand_total: grandTotal },\n  selectedUpgrades: mapped.length ? mapped : (Array.isArray(raw.selectedUpgrades) ? raw.selectedUpgrades.filter((u) => typeof u === 'string' && u.includes('_')) : []),\n  selectedInserts,\n  packageWording: raw.packageWording || {},\n  menuLinks: raw.menuLinks || form.menuLinks || {},\n  mode: raw.mode === 'live' ? 'live' : 'demo',\n};\nreturn [{ json: out }];\n"
      },
      "id": "b30b9821-89be-496e-a939-b6d807e15d00",
      "name": "Transform QuoteBuilder1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stargtm-kkzz.onrender.com/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "0b4227cd-90f8-44b9-81db-41aa9bd93455",
      "name": "HTTP Request stargtm1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/pdf"
              }
            ]
          }
        }
      },
      "id": "c28beccc-d037-4c9f-bb1b-ba15a77de97f",
      "name": "Respond PDF1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "LeadDataFetch",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "3511fb4a-c959-4c5f-b6a5-7ee0c5b08c9d",
      "name": "SearchForLeads1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        320
      ],
      "webhookId": "08a7fd28-1914-495d-9553-51a873f195d8"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst mode = body.mode === 'live' ? 'live' : 'demo';\nreturn [{ json: { mode, _fetch: true } }];"
      },
      "id": "bc0bf616-352f-4d6f-8d75-bbecd5f42c96",
      "name": "Lead Fetch Mode1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "leads-live",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "live",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4375a3a2-614c-4c55-ab18-15d892259e7f",
      "name": "Leads Live?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        320
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1STCEp_UgqH1qoDskFj2rvb8xA9hCdXgntOPPWmCzV6o/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Enquiry - Lead Data (2026)",
          "mode": "name"
        },
        "options": {}
      },
      "id": "f96c74a1-8080-49ca-abe3-302810f33e56",
      "name": "Get Leads LIVE1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        224
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8aF9CpidfdOSoB9E",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "notes": "Production Enquiry - Lead Data (2026)"
    },
    {
      "parameters": {
        "jsCode": "// Flexible header matching -> full Sapphire alias set. No presumption of exact headers.\nconst mode = ($('Lead Fetch Mode1').first().json.mode) === 'live' ? 'live' : 'demo';\n\nconst wanted = [\n  ['Client Reference Number', 'referenceNumber'],\n  ['Name', 'name'],\n  ['Company Name', 'companyName'],\n  ['Company Sector', 'companySector'],\n  ['Main Contact - Email', 'email'],\n  ['Main Contact - Number', 'phone'],\n  ['Main Contact - Job Role', 'jobRole'],\n  ['Budget', 'budget'],\n  ['Repeat Client', 'repeatClient'],\n  ['Client Relationship Representative', 'preparedBy'],\n  ['Status', 'status'],\n  ['Live/Dead', 'liveDead'],\n  ['Source', 'source'],\n  ['Enquiry Date', 'enquiryDate'],\n  ['Event Type', 'eventType'],\n  ['Full Event Date', 'fullEventDate'],\n  ['Event Date - Flexible', 'eventDateFlexible'],\n  ['Requested Event Times', 'requestedEventTimes'],\n  ['Group Size', 'groupSize'],\n  ['What vessel', 'vessels'],\n  ['Market', 'market'],\n  ['Best time to call', 'bestTimeToCall'],\n  ['Year of Event', 'yearOfEvent'],\n];\n\nfunction norm(s) { return String(s).replace(/\\s+/g, ' ').trim().toLowerCase(); }\nfunction pick(row, prefix) {\n  const target = norm(prefix);\n  for (const key of Object.keys(row)) {\n    if (norm(key).startsWith(target)) {\n      const v = row[key];\n      if (v !== undefined && v !== null && String(v).trim() !== '') return row[key];\n    }\n  }\n  return '';\n}\nfunction lowerBound(g) {\n  const m = String(g).match(/\\d+/);\n  return m ? Number(m[0]) : '';\n}\nfunction collectProgress(row) {\n  const entries = [];\n  for (const key of Object.keys(row)) {\n    const mm = norm(key).match(/^progress\\s+(\\d+)$/);\n    if (mm) {\n      const v = row[key];\n      if (v !== undefined && v !== null && String(v).trim() !== '') entries.push([Number(mm[1]), String(row[key]).trim()]);\n    }\n  }\n  entries.sort((a, b) => a[0] - b[0]);\n  return entries.map((e) => e[1]).join(' | ');\n}\nfunction isFlexible(v) {\n  const s = norm(v);\n  return s.includes('yes') || s.includes('tbc') || s.includes('flex');\n}\n\nconst leads = $input.all().map((item) => {\n  const row = item.json || {};\n  const out = {};\n  for (const [prefix, alias] of wanted) out[alias] = pick(row, prefix);\n  // derived\n  out.assignedRep = out.preparedBy;\n  out.groupSizeQuote = lowerBound(out.groupSize);\n  out.progressNotes = collectProgress(row);\n  out.eventDateFlexibleBool = isFlexible(out.eventDateFlexible);\n  out.eventDateDisplay = out.eventDateFlexibleBool ? 'Date TBC' : (out.fullEventDate || '');\n  return out;\n})\n.filter((l) => l.referenceNumber || l.name || l.email) // drop blank / alwaysOutputData placeholder rows\n.reverse(); // newest first\n\nreturn [{ json: { count: leads.length, mode, leads } }];"
      },
      "id": "866c7e14-3683-4535-b261-27942c530679",
      "name": "Structure all Leads1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        320
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1f67f2907cUnHbaXJOb8uf-QfUnPSfv9sQekjvLS8ITs/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "44e5a7d8-b2b6-4535-b98c-1c3740486304",
      "name": "Get Leads DEMO1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        416
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8aF9CpidfdOSoB9E",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "notes": "Demo has no lead rows by design. Returns 0 leads. Write-back uses Nexus Ops Notes/Quotes tabs — import exports/WEOTT-Nexus-TEST-Sheets.xlsx into this workbook."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "c068562b-eb1a-4d81-aad4-692f545ef5b3",
      "name": "Respond Leads1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        320
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "NoteAppend",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "8c222d8a-a46d-4c8e-a8b1-a561261a16a2",
      "name": "NoteAppend Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        736
      ],
      "webhookId": "note-append-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: {\n  mode: body.mode === 'live' ? 'live' : 'demo',\n  referenceNumber: body.referenceNumber || '',\n  email: body.email || '',\n  leadName: body.leadName || '',\n  note: body.note || '',\n  tag: body.tag || '',\n  createdAt: new Date().toISOString(),\n}}];"
      },
      "id": "c58e79fd-b259-4d0c-a631-8d537406fa9a",
      "name": "Normalize NoteAppend1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        736
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "note-live",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "live",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "57109475-5fbc-44db-aa9d-dc239f3518d6",
      "name": "Note Live?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        736
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1STCEp_UgqH1qoDskFj2rvb8xA9hCdXgntOPPWmCzV6o/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Nexus Ops Notes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Created At": "={{ $json.createdAt }}",
            "Mode": "={{ $json.mode }}",
            "Reference": "={{ $json.referenceNumber }}",
            "Email": "={{ $json.email }}",
            "Lead Name": "={{ $json.leadName }}",
            "Tag": "={{ $json.tag }}",
            "Note": "={{ $json.note }}"
          }
        },
        "options": {}
      },
      "id": "fe2d83f6-bc13-4a9f-992c-07374db6f601",
      "name": "Append Note LIVE1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        640
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8aF9CpidfdOSoB9E",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "notes": "Requires a \"Nexus Ops Notes\" tab in the LIVE workbook (create it once with the header row)."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, mode: $json.mode || 'demo' } }}",
        "options": {}
      },
      "id": "5bc07492-1eaa-4b3f-9da3-d4a0091cf482",
      "name": "Respond NoteAppend1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        736
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1f67f2907cUnHbaXJOb8uf-QfUnPSfv9sQekjvLS8ITs/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Nexus Ops Notes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Created At": "={{ $json.createdAt }}",
            "Mode": "={{ $json.mode }}",
            "Reference": "={{ $json.referenceNumber }}",
            "Email": "={{ $json.email }}",
            "Lead Name": "={{ $json.leadName }}",
            "Tag": "={{ $json.tag }}",
            "Note": "={{ $json.note }}"
          }
        },
        "options": {}
      },
      "id": "0579d42b-84db-4b00-bd8b-4e2528f16617",
      "name": "Append Note DEMO1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        832
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8aF9CpidfdOSoB9E",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "notes": "Requires a \"Nexus Ops Notes\" tab in the DEMO workbook (create it once with the header row)."
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "QuoteStatus",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "428bb3b0-c9d3-4750-bcf5-be9854f9acf0",
      "name": "QuoteStatus Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        1152
      ],
      "webhookId": "quote-status-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst upgrades = Array.isArray(body.selectedUpgrades) ? body.selectedUpgrades.join(', ') : (body.selectedUpgrades || '');\nconst inserts = Array.isArray(body.selectedInserts) ? body.selectedInserts.join(', ') : (body.selectedInserts || '');\nreturn [{ json: {\n  mode: body.mode === 'live' ? 'live' : 'demo',\n  referenceNumber: body.referenceNumber || '',\n  email: body.email || '',\n  leadName: body.leadName || '',\n  quoteId: body.quoteId || '',\n  status: body.status || '',\n  version: body.version || '',\n  title: body.title || '',\n  eventType: body.eventType || '',\n  eventDate: body.eventDate || '',\n  guestCount: body.guestCount || body.guests || '',\n  repeatClient: body.repeatClient === true ? 'YES' : (body.repeatClient === false ? 'NO' : ''),\n  selectedUpgrades: upgrades,\n  templateId: body.templateId || body.template_id || '',\n  selectedInserts: inserts,\n  staffContact: body.staffContact || '',\n  baseCost: body.baseCost ?? '',\n  contingency: body.contingency ?? '',\n  margin: body.margin ?? '',\n  marginAmount: body.marginAmount ?? '',\n  costToClient: body.costToClient ?? body.packageCost ?? '',\n  packageCost: body.packageCost ?? body.costToClient ?? '',\n  vat: body.vat ?? '',\n  upgradeTotal: body.upgradeTotal ?? '',\n  grandTotal: body.grandTotal ?? '',\n  updatedAt: new Date().toISOString(),\n}}];"
      },
      "id": "3ac43d48-f100-4df9-97e6-787e17a7598f",
      "name": "Normalize QuoteStatus1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1152
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "quote-live",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "live",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5f6033e-ef75-4d7b-b579-61b524436ae2",
      "name": "Quote Live?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        1152
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1STCEp_UgqH1qoDskFj2rvb8xA9hCdXgntOPPWmCzV6o/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Nexus Ops Quotes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Updated At": "={{ $json.updatedAt }}",
            "Mode": "={{ $json.mode }}",
            "Reference": "={{ $json.referenceNumber }}",
            "Email": "={{ $json.email }}",
            "Lead Name": "={{ $json.leadName }}",
            "Quote Id": "={{ $json.quoteId }}",
            "Status": "={{ $json.status }}",
            "Version": "={{ $json.version }}",
            "Title": "={{ $json.title }}",
            "Event Type": "={{ $json.eventType }}",
            "Event Date": "={{ $json.eventDate }}",
            "Guests": "={{ $json.guestCount }}",
            "Repeat Client": "={{ $json.repeatClient }}",
            "Selected Upgrades": "={{ $json.selectedUpgrades }}",
            "Template Id": "={{ $json.templateId }}",
            "Selected Inserts": "={{ $json.selectedInserts }}",
            "Staff Contact": "={{ $json.staffContact }}",
            "Base Cost": "={{ $json.baseCost }}",
            "Contingency": "={{ $json.contingency }}",
            "Margin": "={{ $json.margin }}",
            "Margin Amount": "={{ $json.marginAmount }}",
            "Cost To Client": "={{ $json.costToClient }}",
            "Package Cost": "={{ $json.packageCost }}",
            "VAT": "={{ $json.vat }}",
            "Upgrade Total": "={{ $json.upgradeTotal }}",
            "Grand Total": "={{ $json.grandTotal }}"
          }
        },
        "options": {}
      },
      "id": "be3a1e2d-49a7-48c1-9620-55b692413dd5",
      "name": "Append Quote LIVE1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        1056
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8aF9CpidfdOSoB9E",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "notes": "Requires a \"Nexus Ops Quotes\" tab in the LIVE workbook (create it once with the header row)."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, mode: $json.mode || 'demo' } }}",
        "options": {}
      },
      "id": "6c3e4c1e-a2b6-4f7a-8085-52c4de47e243",
      "name": "Respond QuoteStatus1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        1152
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1f67f2907cUnHbaXJOb8uf-QfUnPSfv9sQekjvLS8ITs/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Nexus Ops Quotes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Updated At": "={{ $json.updatedAt }}",
            "Mode": "={{ $json.mode }}",
            "Reference": "={{ $json.referenceNumber }}",
            "Email": "={{ $json.email }}",
            "Lead Name": "={{ $json.leadName }}",
            "Quote Id": "={{ $json.quoteId }}",
            "Status": "={{ $json.status }}",
            "Version": "={{ $json.version }}",
            "Title": "={{ $json.title }}",
            "Event Type": "={{ $json.eventType }}",
            "Event Date": "={{ $json.eventDate }}",
            "Guests": "={{ $json.guestCount }}",
            "Repeat Client": "={{ $json.repeatClient }}",
            "Selected Upgrades": "={{ $json.selectedUpgrades }}",
            "Template Id": "={{ $json.templateId }}",
            "Selected Inserts": "={{ $json.selectedInserts }}",
            "Staff Contact": "={{ $json.staffContact }}",
            "Base Cost": "={{ $json.baseCost }}",
            "Contingency": "={{ $json.contingency }}",
            "Margin": "={{ $json.margin }}",
            "Margin Amount": "={{ $json.marginAmount }}",
            "Cost To Client": "={{ $json.costToClient }}",
            "Package Cost": "={{ $json.packageCost }}",
            "VAT": "={{ $json.vat }}",
            "Upgrade Total": "={{ $json.upgradeTotal }}",
            "Grand Total": "={{ $json.grandTotal }}"
          }
        },
        "options": {}
      },
      "id": "6cb8baa3-29ee-4c01-9486-64827352ee30",
      "name": "Append Quote DEMO1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        1248
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8aF9CpidfdOSoB9E",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "notes": "Requires a \"Nexus Ops Quotes\" tab in the DEMO workbook (create it once with the header row)."
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "CostRatesFetch",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "f4ecb67e-5ffa-4063-9041-4bee785d64db",
      "name": "CostRatesFetch Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        1472
      ],
      "webhookId": "06d8799f-b23a-4b31-b057-0d29decbbb7b"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1STCEp_UgqH1qoDskFj2rvb8xA9hCdXgntOPPWmCzV6o/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1270697803,
          "mode": "list",
          "cachedResultName": "Price Comparison / Vessel & Event Items"
        },
        "options": {}
      },
      "id": "a8d49d3a-7e3a-40b2-8f34-894da7fade0d",
      "name": "Price Comparison Read",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        1472
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8aF9CpidfdOSoB9E",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1STCEp_UgqH1qoDskFj2rvb8xA9hCdXgntOPPWmCzV6o/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 213404607,
          "mode": "list",
          "cachedResultName": "Cost Mother Sheet (WEOTT) (2023"
        },
        "options": {}
      },
      "id": "153a75b3-8422-4a02-b192-91394ae50d13",
      "name": "Cost Mother Read",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        1472
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8aF9CpidfdOSoB9E",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1STCEp_UgqH1qoDskFj2rvb8xA9hCdXgntOPPWmCzV6o/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 963037416,
          "mode": "list",
          "cachedResultName": "Quote Builder 2026"
        },
        "options": {}
      },
      "id": "d222049e-3fd9-4ed1-9438-349c67024b62",
      "name": "QuoteBuilder Tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        1472
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8aF9CpidfdOSoB9E",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1STCEp_UgqH1qoDskFj2rvb8xA9hCdXgntOPPWmCzV6o/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1673913540,
          "mode": "list",
          "cachedResultName": "Minimum target margin per event type"
        },
        "options": {}
      },
      "id": "473d607a-be63-4c57-a544-3884e5d10ccc",
      "name": "Minimum Margin Read",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        1472
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8aF9CpidfdOSoB9E",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1STCEp_UgqH1qoDskFj2rvb8xA9hCdXgntOPPWmCzV6o/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1791806011,
          "mode": "list",
          "cachedResultName": "WEOTT Event & Catering Staff Ratios"
        },
        "options": {}
      },
      "id": "ca03fc73-271d-4762-8793-375a19d44353",
      "name": "Ratios",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        1472
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8aF9CpidfdOSoB9E",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1STCEp_UgqH1qoDskFj2rvb8xA9hCdXgntOPPWmCzV6o/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 222472735,
          "mode": "list",
          "cachedResultName": "Cutlery Ratios"
        },
        "options": {}
      },
      "id": "0511f82c-940a-482d-9d28-b02323a1c635",
      "name": "cutlery Ratios",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        1472
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8aF9CpidfdOSoB9E",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Return raw rows per source tab. Source tabs are not clean tables\n// (they carry title / notes rows), so no schema is invented here.\nfunction rows(name) {\n  let all = [];\n  try { all = $(name).all().map((i) => i.json || {}); } catch (e) { all = []; }\n  return all.filter((r) => Object.keys(r).length && Object.values(r).some((v) => String(v).trim() !== ''));\n}\nconst vesselRates = rows('Price Comparison Read');\nconst cateringRates = rows('Cost Mother Read');\nconst quoteBuilder2026 = rows('QuoteBuilder Tab');\nconst margins = rows('Minimum Margin Read');\nconst staffRatios = rows('Ratios');\nconst cutleryRatios = rows('cutlery Ratios');\nreturn [{ json: {\n  ok: true,\n  source: 'live',\n  note: 'Raw rows returned as-is; map defensively in the UI.',\n  vesselRates,\n  cateringRates,\n  quoteBuilder2026,\n  margins,\n  staffRatios,\n  cutleryRatios,\n  counts: {\n    vesselRates: vesselRates.length,\n    cateringRates: cateringRates.length,\n    quoteBuilder2026: quoteBuilder2026.length,\n    margins: margins.length,\n    staffRatios: staffRatios.length,\n    cutleryRatios: cutleryRatios.length,\n  },\n}}];"
      },
      "id": "04fcd06f-a899-4fee-8f23-f56290ccd896",
      "name": "Assemble Rates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        1472
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "137a5348-591c-434b-8db4-687d54d5e48f",
      "name": "Respond Rates",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1792,
        1472
      ]
    }
  ],
  "connections": {
    "GenerateProposal1": {
      "main": [
        [
          {
            "node": "Transform QuoteBuilder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform QuoteBuilder1": {
      "main": [
        [
          {
            "node": "HTTP Request stargtm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request stargtm1": {
      "main": [
        [
          {
            "node": "Respond PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchForLeads1": {
      "main": [
        [
          {
            "node": "Lead Fetch Mode1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Fetch Mode1": {
      "main": [
        [
          {
            "node": "Leads Live?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leads Live?": {
      "main": [
        [
          {
            "node": "Get Leads LIVE1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Leads DEMO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Leads LIVE1": {
      "main": [
        [
          {
            "node": "Structure all Leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure all Leads1": {
      "main": [
        [
          {
            "node": "Respond Leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Leads DEMO1": {
      "main": [
        [
          {
            "node": "Structure all Leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoteAppend Webhook1": {
      "main": [
        [
          {
            "node": "Normalize NoteAppend1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize NoteAppend1": {
      "main": [
        [
          {
            "node": "Note Live?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Note Live?1": {
      "main": [
        [
          {
            "node": "Append Note LIVE1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Note DEMO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Note LIVE1": {
      "main": [
        [
          {
            "node": "Respond NoteAppend1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Note DEMO1": {
      "main": [
        [
          {
            "node": "Respond NoteAppend1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuoteStatus Webhook1": {
      "main": [
        [
          {
            "node": "Normalize QuoteStatus1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize QuoteStatus1": {
      "main": [
        [
          {
            "node": "Quote Live?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quote Live?1": {
      "main": [
        [
          {
            "node": "Append Quote LIVE1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Quote DEMO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Quote LIVE1": {
      "main": [
        [
          {
            "node": "Respond QuoteStatus1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Quote DEMO1": {
      "main": [
        [
          {
            "node": "Respond QuoteStatus1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CostRatesFetch Webhook": {
      "main": [
        [
          {
            "node": "Price Comparison Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price Comparison Read": {
      "main": [
        [
          {
            "node": "Cost Mother Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cost Mother Read": {
      "main": [
        [
          {
            "node": "QuoteBuilder Tab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuoteBuilder Tab": {
      "main": [
        [
          {
            "node": "Minimum Margin Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Minimum Margin Read": {
      "main": [
        [
          {
            "node": "Ratios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ratios": {
      "main": [
        [
          {
            "node": "cutlery Ratios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cutlery Ratios": {
      "main": [
        [
          {
            "node": "Assemble Rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Rates": {
      "main": [
        [
          {
            "node": "Respond Rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "caed407d61d26bf3339c52dad45782d5aee8674e04b1439d67d50716d1c0932b"
  }
}
